<div class="container text-center">
<h1>Pravidla soutěže Sportovní pes roku KCHCS</h1>
<p>Soutěž Sportovní pes roku KCHCS je každoročním hodnocením sportovních výkonů v kategoriích Agility, DogDancing a Pasení</p>
<h4>Pravidla pro hodnocení soutěže</h4>
<ul>
    <li>Účast je podmíněna členstvím majitele psa/feny v KCHCS</li>
    <li>Započítavojí dr jen body získané v době trvání členství v KCHCS</li>
    <li>Tentýž pes může být hodnocen i ve více kategoriích</li>
    <li>Započítávány jsou složené zkoušky a absolvované závody, a to jak u nás, tak v zahraničí</li>
</ul>
</div>
<div class="container text-center">
<h2>Pasení</h2>
<p>Započítávají se veškeré zkoušky a závody pořádané podle zkušebních řádů KJ Brno a oficiální zkoušky a závody v zahraničí</p>
<h4>Klíč</h4>
<p>U zkoušek se započítává počet získaných bodů. Za splnění zkoušky NHAT je přiděleno 30 bodů. 
    U závodů se započítáví počet získaných bodů a dále je přičteno 5 bodů za každý poražený tým a body za umístění</p>

<table class="table table-dark text-center" style="width: 100%;">
    <thead>
    <tr>
        <th style="width: 50%;">Typ</th>
        <th style="width: 50%;">Koeficient K</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>HWT</td>
        <td>1.0</td>
    </tr>
    <tr>
        <td>IHT1</td>
        <td>1.5</td>
    </tr>
    <tr>
        <td>IHT2</td>
        <td>2.0</td>
    </tr>
    <tr>
        <td>IHT3</td>
        <td>2.5</td>
    </tr>
    </tbody>
</table>

<table class="table table-dark text-center" style="width: 100%;">
    <thead>
    <tr>
        <th style="width: 50%;">Umístění v závodu</th>
        <th style="width: 50%;">Počet bodů</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1. místo</td>
        <td>15</td>
    </tr>
    <tr>
        <td>2.místo</td>
        <td>10</td>
    </tr>
    <tr>
        <td>3.místo</td>
        <td>5</td>
    </tr>
    </tbody>
</table>
</div>
<div class="container text-center">
<h2>Agility</h2>
<p>Započítávají se výsledky všech oficiálních zkoušek (A1-3) i otevřených běhů (Agility, Jumping)</p>
<h4>Klíč</h4>
<p>
    Od čísla 15 se odečte počet trestných bodů a přičte 1 bod za každého poraženého soupeře. Dále je tento součet
    vynásoben koeficientem dle typu zkoušky/závodu. Navíc jsou u otevřených závodů přičteny body za umístění
</p>

<table class="table table-dark text-center" style="width: 100%;">
    <thead>
    <tr>
        <th style="width: 50%;">Typ</th>
        <th style="width: 50%;">Koeficient K</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Zkouška A1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Zkouška A2</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Zkouška A3</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Open Jumping</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Open Agility</td>
        <td>2</td>
    </tr>
    </tbody>
</table>

<table class="table table-dark text-center" style="width: 100%;">
    <thead>
    <tr>
        <th style="width: 50%;">Umístění v závodu</th>
        <th style="width: 50%;">Počet bodů</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1. místo</td>
        <td>15</td>
    </tr>
    <tr>
        <td>2.místo</td>
        <td>10</td>
    </tr>
    <tr>
        <td>3.místo</td>
        <td>5</td>
    </tr>
    </tbody>
</table>
</div>

<div class="container text-center">
    <h2>Dogdancing</h2>
    <p>
        Započítávají se výsledky všech zkoušek a soutěží dle řádu DDCCZ a oficiální zahraniční závody/zkoušky
    </p>    
    <h4>Klíč</h4>
    <p>
        Zkoušky jsou započítávány jako celkový počet získaných bodů krát koeficient dle typu zkoušky/závodu, přičemž se započítává nejlepší
        výsledek zkoušky v daném roce. K těmto bodům jsou dále přičteny 3 body za každý poražený tým a body za umístění
    </p>
    
    <table class="table table-dark text-center" style="width: 100%;">
        <thead>
        <tr>
            <th style="width: 50%;">Typ</th>
            <th style="width: 50%;">Koeficient K</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Zkoušky 1. úrovně</td>
            <td>1.0</td>
        </tr>
        <tr>
            <td>Zkoušky 2. úrovně</td>
            <td>1.5</td>
        </tr>
        <tr>
            <td>Zkoušky 3. úrovně</td>
            <td>2.0</td>
        </tr>
        <tr>
            <td>Závody Beginners</td>
            <td>1.0</td>
        </tr>
        <tr>
            <td>Závody Advanced</td>
            <td>1.5</td>
        </tr>
        </tbody>
    </table>
    
    <table class="table table-dark text-center" style="width: 100%;">
        <thead>
        <tr>
            <th style="width: 50%;">Umístění v závodu</th>
            <th style="width: 50%;">Počet bodů</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1. místo</td>
            <td>15</td>
        </tr>
        <tr>
            <td>2.místo</td>
            <td>10</td>
        </tr>
        <tr>
            <td>3.místo</td>
            <td>5</td>
        </tr>
        </tbody>
    </table>
    </div>