<div class="container text-center">
<h1>Pravidla soutěže Sportovní pes roku KCHCS</h1>
<p>Soutěž Sportovní pes roku KCHCS je každoročním hodnocením sportovních výkonů v kategori Pasení</p>
<h4>Pravidla pro hodnocení soutěže</h4>
<ul>
    <li>Účast je podmíněna členstvím majitele psa/feny v KCHCS</li>
    <li>Započítavojí dr jen body získané v době trvání členství v KCHCS</li>
    <li>Tentýž pes může být hodnocen i ve více kategoriích</li>
    <li>Započítávány jsou složené zkoušky a absolvované závody, a to jak u nás, tak v zahraničí</li>
</ul>
</div>
<div class="container text-center">
<h2>Pasení</h2>
<p>Započítávají se veškeré zkoušky a závody pořádané podle zkušebních řádů KJ Brno a oficiální zkoušky a závody v zahraničí</p>
<h4>Klíč</h4>
<p>U zkoušek se započítává počet získaných bodů. Za splnění zkoušky NHAT je přiděleno 30 bodů. 
    U závodů se započítává počet získaných bodů a dále je přičteno 5 bodů za každý poražený tým a body za umístění</p>

<table class="table table-dark text-center" style="width: 100%;">
    <thead>
    <tr>
        <th style="width: 50%;">Typ</th>
        <th style="width: 50%;">Koeficient K</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>HWT</td>
        <td>1.0</td>
    </tr>
    <tr>
        <td>IHT1</td>
        <td>1.5</td>
    </tr>
    <tr>
        <td>IHT2</td>
        <td>2.0</td>
    </tr>
    <tr>
        <td>IHT3</td>
        <td>2.5</td>
    </tr>
    </tbody>
</table>

<table class="table table-dark text-center" style="width: 100%;">
    <thead>
    <tr>
        <th style="width: 50%;">Umístění v závodu</th>
        <th style="width: 50%;">Počet bodů</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1. místo</td>
        <td>15</td>
    </tr>
    <tr>
        <td>2.místo</td>
        <td>10</td>
    </tr>
    <tr>
        <td>3.místo</td>
        <td>5</td>
    </tr>
    </tbody>
</table>
</div>
<div class="container text-center">

